@import "../../assets/css/main.scss";

nav.main-header {
  padding: 12px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @media (min-width: 992px) {
    &.navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      justify-content: flex-end;
    }
  } // Common  Responsive
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  @include themed() {
    background-color: t("themedark2");
    box-shadow: t("header-shadow");
  }
  .navbar-nav {
    .nav-link {
      color: #000;
      @include themed() {
        color: t("whitecolor");
      }
    }
  }
  .burger-menu {
    .line-menu {
      background-color: #000;
    }
  }

  .logo {
    img {
      width: 175px;
    }
    a {
      font-family: $themefont;
      font-size: 35px;
      font-weight: 800;
      color: $themecolor;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      // background-color: #2600fc;
      // background-image: linear-gradient(25deg, #2600fc, #ff00ea);
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: $themecolor;
        padding: 3px;
        border-radius: 50px;
        height: 50px;
        width: 50px;

        svg {
          font-size: 35px;
        }
      }
    }
  }
  .navbar-nav {
    gap: 10px;
    .nav-link {
      font-family: $themefont;
      font-size: 16px;
      font-weight: 400;
      color: #000;
      &:hover {
        color: $themecolor;
      }
    }
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link {
    color: $themecolor;
  }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  nav.main-header {
    border-top: none;
    .logo a {
      font-size: 28px;
      span {
        width: 40px;
        height: 40px;
        svg {
          font-size: 25px;
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
  nav.main-header {
    // nav
    .logo img {
      width: 150px;
    }
    .burger-menu {
      width: 20px;
      height: 17px;
    }
    .navbar-nav {
      gap: 0px;
      &:first-child {
        margin-top: 20px;
      }
      .nav-link {
        font-size: 14px;
        margin: 0px;
      }
      &.nav-login-div {
        flex-direction: row;
        align-items: flex-start;
        gap: 25px;
        .theme-btn .checkbox-wrapper-54 {
          input:checked + .slider svg,
          .slider {
            padding-left: 0px;
            padding-right: 0px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  nav.main-header {
    // nav
    .logo img {
      width: 150px;
    }
    .navbar-nav {
      .nav-link {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  nav.main-header {
    .logo img {
      width: 150px;
    }
    .navbar-nav {
      .nav-link {
        font-size: 14px;
      }
    }
  }
}
.toast-message {
  font-family: $themefont;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
