@import "../../../../common/assets/css/main.scss";

.home-page {
  .project-section {
    padding: 80px 0px;
    .heading {
      margin-bottom: 50px;
      h2 {
        color: $themecolor;
        margin: 0px 0px 10px 0px;
        font-family: $themefont;
        font-size: 35px;
        font-weight: 800;
        letter-spacing: 2px;
        line-height: 1;
        text-align: center;
      }
      p {
        color: #000;
        text-align: center;
        font-family: $themefont;
        // font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 0px;
        // line-height: normal;
        @include themed() {
          color: t("whitecolor");
        }
      }
    }
    a {
      text-decoration: none;
      font-family: $themefont;
      font-weight: 400;
      font-size: 16px;
      border-radius: 50px;
      line-height: normal;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;
      color: #fff;
      background-color: $themecolor;
      width: 175px;
      margin: 0px auto;
      padding: 8px 20px;
    }
  }
}
