@import "../../../../common/assets/css/main.scss";

.home-page {
  .experiences-section {
    padding: 50px 0px;
    background-color: #f6f7fb;
    @include themed() {
      background-color: t("themedark1");
    }
    .heading {
      margin-bottom: 50px;
      h2 {
        color: $themecolor;
        margin: 0px 0px 10px 0px;
        font-family: $themefont;
        font-size: 35px;
        font-weight: 800;
        letter-spacing: 2px;
        line-height: 1;
        text-align: center;
      }
      p {
        color: #000;
        text-align: center;
        font-family: $themefont;
        // font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 0px;
        // line-height: normal;
        @include themed() {
          color: t("whitecolor");
        }
      }
    }
  }
}
