@import "../../../../common/assets/css/main.scss";
.home-page {
  .slider {
    padding: 50px 0px;
    @include themed() {
      background-color: t("themedark1");
    }
    span.sub-title {
      color: #3c3e41;
      font-family: $themefont;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 20px;
      display: block;
      @include themed() {
        color: t("whitecolor");
      }
    }
    h1 {
      margin: 0px 0px 20px 0px;
      color: #1e2125;
      font-family: $themefont;
      font-size: 45px;
      font-weight: 800;
      letter-spacing: 3px;
      line-height: 1.5;
      @include themed() {
        color: t("whitecolor");
      }
      span {
        color: $themecolor;
        display: inline-block;
      }
    }
    p {
      color: #3c3e41;
      font-family: $themefont;
      font-size: 18px;
      text-transform: capitalize;
      margin-bottom: 25px;
      span {
        font-weight: 500;
      }
      @include themed() {
        color: t("whitecolor");
      }
    }
    ul {
      padding: 0px;
      margin: 0px;
      display: flex;
      align-items: center;
      gap: 25px;
      list-style-type: none;
      z-index: 1;
      position: relative;
      li {
        a {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          $svg-size: 21px;
          svg {
            font-size: $svg-size;
            color: #fff;
          }
          &.git {
            background-color: #000;
            svg {
              font-size: calc($svg-size + 4px);
            }
          }
          &.linkedin {
            background-color: #0e76a8;
          }
          &.mail {
            background-color: #ea4335;
          }
          &.profile {
            background-color: #f48024;
          }
        }
      }
    }
    .btn-grp {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      margin-bottom: 25px;
      button {
        cursor: pointer;
        position: relative;
        z-index: 2;
        overflow: visible;
        vertical-align: middle;
        display: flex;
        align-items: center;
        gap: 5px;
        border: none;
        text-transform: capitalize;
        text-align: center;
        background-color: $themecolor;
        color: #fff;
        font-family: $themefont;
        padding: 6px 25px;
        line-height: inherit;
        border-radius: 50px;
        -webkit-transition: background-color 0.25s linear,
          color 0.4s ease-in-out;
        transition: background-color 0.25s linear, color 0.4s ease-in-out;
        text-decoration: none;
        margin: 0px 0px;
        overflow: hidden;
        font-size: 17px;
        &:before {
          content: "";
          position: absolute;
          height: 100%;
          bottom: 0;
          left: 0;
          width: 0;
          background-color: #000;
          z-index: -1;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          border-radius: inherit;
          @include themed() {
            background-color: t("whitecolor");
          }
        }
        &:hover {
          color: #fff;
          background-color: #000;
          @include themed() {
            background-color: t("whitecolor");
            color: t("blackcolor");
          }
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
  .home-page {
    .slider {
      span.sub-title {
        font-size: 12px;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 21px;
        margin-bottom: 10px;
      }
      p {
        font-size: 15px;
        text-align: justify;
      }
      .btn-grp button {
        font-size: 15px;
      }
      ul {
        margin-bottom: 30px;
      }
    }
  }
}
@media only screen and (min-width: 421px) and (max-width: 767px) {
  .home-page {
    .slider {
      span.sub-title {
        font-size: 15px;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 30px;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        text-align: justify;
      }
      .btn-grp button {
        font-size: 15px;
      }
      ul {
        margin-bottom: 30px;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-page {
    .slider {
      span.sub-title {
        font-size: 15px;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 25px;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        text-align: justify;
      }
      .btn-grp button {
        font-size: 15px;
      }
      ul {
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-page {
    .slider {
      span.sub-title {
        font-size: 15px;
      }
      h1 {
        font-size: 35px;
      }
      p {
        font-size: 17px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .home-page {
    .slider {
      h1 {
        font-size: 42px;
      }
    }
  }
}
